// HELPERS
@import "../helpers/colors.scss";

.aboutUsContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10% 0% 10%;
    gap: 6rem;

    figure{

        width: 50%;
        
        img{
            width: 100%;
        }
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 40px;
        width: 50%;

        h3{
            font-size: 2rem ;

        }

        
        h4{
            font-size: 1.3rem;
            letter-spacing: 2px;
            color: $lightBlue;
            text-transform: uppercase;

            hr{
                margin-top: 0.5rem;
                height: 3px;
                border-right: 235px solid $lightGrey;
                border-left: 307px solid $lightBlue;
                border-top: none;
                border-bottom: none;
                width: 76%;
            }
        }

        p{
            width: 87%;
            line-height: 30px;
        }

        button {
            background-color: $lightBlue;
            border: none;
            list-style: none;
            padding: 4% 0%;
            margin-top: 20px;
            width: 40%;
            

            &:hover{
                cursor: pointer;
            }
            
            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
            }
        }
    }

}


// RESPONSIVE - TABLET
@media (max-width: 800px) {

    .aboutUsContent{
        flex-direction: column;
        padding: 5% 3% 0% 3%;
    
        figure{
    
            width: 100%;
            
            img{
                width: 100%;
            }
        }
    
        div{
            width: 100%;
            text-align: center;
    
            h3{
                font-size: 2rem ;
    
            }
    
            
            h4{
                font-size: 1.3rem;
                letter-spacing: 2px;
                color: $lightBlue;
                text-transform: uppercase;
    
                hr{
                    height: 3px;
                    width: 100%;
                    border-right: 0px solid $lightGrey;
                    border-left: 0px solid $lightBlue;
                    border-top: none;
                    background-color: $lightBlue;

                    
                }
            }
    
            p{
                width: 100%;
                line-height: 30px;
            }
    
            button {
                background-color: $lightBlue;
                border: none;
                list-style: none;
                padding: 4% 0%;
                margin-top: 20px;
                width: 40%;
                margin: 0 auto;
                
    
                &:hover{
                    cursor: pointer;
                }
                
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.3rem;
                }
            }
        }
    
    }

  }