// HELPERS
@import "../helpers/colors.scss";

.contactContainer {

    .contactMapContainer {
        padding: 2% 10%;

        .map {

            width: 100%;
            height: 600px;
            border: none;

        }
    }

    .createdUserContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 4% 0%;

        h2{
            font-size: 2.5rem;
        }

        p{
            font-size: 1.5rem;
        }

    }

    .contactBottomContent {
        padding: 4% 10%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .contactTextContainer{
            display: flex;
            gap: 20px;
            align-items: center;

            h4{
                font-size: 2rem;
            }

            hr{
                height: 30px;
                padding: 0px 1px;
                border: none;
                background-color: $lightGrey;
            }

        }

            form {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, auto);
                gap: 15px;
                

                input, textarea{
                    border: none;
                    background-color: $lightGrey;
                    width: 100%;

                }

                input{
                    padding: 5% 3%;
                    width: 100%;
                }


                textarea{
                    grid-column: 1 / 4;
                    padding: 1% 1%;
                    resize: none;
                    width: 100%;
                    height: 20vh;
                }

                   button{
                    padding: 4% 0%;
                    width: 60%;
                    border: none;
                    background-color: $lightBlue;
                    color: #fff;

                    &:hover{
                        cursor: pointer;
                    }
                   }

            }
    }

}

// RESPONSIVE - MOBIL
@media (max-width: 800px) {

    .contactContainer {

        .contactMapContainer {
            padding: 2% 3%;
    
            .map {
    
                width: 100%;
                height: 600px;
                border: none;
    
            }
        }
    
        .contactBottomContent {
            padding: 4% 3%;
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            .contactTextContainer{
                display: flex;
                gap: 20px;
                flex-direction: column;
                text-align: center;
                width: 100%;
                margin: 2% auto;
    
                h4{
                    font-size: 2rem;
                }
    
                hr{
                    height: 30px;
                    padding: 10px 1px;
                    border: none;
                    background-color: $lightGrey;
                    transform: rotate(90deg);
                }
    
            }
    
                form {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(5, auto);
                    
    
                    input, textarea{
                        border: none;
                        background-color: $lightGrey;
                        width: 100%;
    
                    }
    
                    input{
                        padding: 3% 3%;
                        width: 100%;
                    }
    
    
                    textarea{
                        grid-column: 1 / 2;
                        padding: 3% 3%;
                        resize: none;
                        width: 100%;
                        height: 20vh;
                    }
    
                    button{
                        padding: 3% 0%;
                        width: 100%;
                        border: none;
                        background-color: $lightBlue;
                        color: #fff;
                        margin: 4% 0%;
    
                        &:hover{
                            cursor: pointer;
                        }
                       }
                       
    
                }
        }
    
    }

}