header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
    padding: 2% 0%;
  
    button {
      padding: 0.5% 6%;
      background-color: transparent;
      outline: none;
      border: 2px solid black;
      border-radius: 5px;
  
      &:hover {
        cursor: pointer;
        background-color: rgb(237, 237, 237);
      }
    }
  }
  