// HELPERS
@import "../helpers/colors.scss";


.sliderContainer {
    height: 80vh;
    figure {
        width: 100%;
        img {
            width: 100%;
            height: 80vh;
            object-fit: cover;
        }
    }
}

.moonAndMarsCardsContainer{
    background-color: $lightGrey;
}