h1 {
    text-align: center;
    padding: 2% 0%;
}

.toursContainer {

    width: 100%;
    text-align: center;

    .toursGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-self: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        padding: 0% 2%;
        gap: 20px;

        .tours {
            width: 100%;
            margin: 0 auto;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 2%;

            h2 {
                padding: 3% 0%;
            }

            .icons {
                margin: 2% 0%;
            }

            .tourDate {
                padding-bottom: 3%;
            }

            .tourTeaserText {
                padding-top: 3%;
            }

        }

        img {
            width: 100%;
            border-radius: 5px;
        }

        button {
            padding: 2% 4%;
            margin: 5% 0%;
            background-color: red;
            color: #fff;
            border-radius: 5px;
            border: none;

            &:hover {
                cursor: pointer;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            }

            &:focus {
                border: none;
            }
        }
    }

}





/* -------------------- RESPONSIVE -------------------- */



/* TABLET */

@media (max-width: 962px) {
    .toursContainer {

        width: 100%;
        text-align: center;
    
        .toursGrid {
            grid-template-columns: repeat(2, 1fr);
            padding: 0% 5%;
    
            .tours {
                width: 100%;
                margin: 0 auto;
                box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                padding: 2%;
    
                h2 {
                    padding: 3% 0%;
                }
    
                .icons {
                    margin: 2% 0%;
                }
    
                .tourDate {
                    padding-bottom: 3%;
                }
    
                .tourTeaserText {
                    padding-top: 3%;
                }
    
            }
    
            img {
                width: 100%;
                border-radius: 5px;
            }
    
            button {
                padding: 2% 4%;
                margin: 5% 0%;
                background-color: red;
                color: #fff;
                border-radius: 5px;
                border: none;
    
                &:hover {
                    cursor: pointer;
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                }
    
                &:focus {
                    border: none;
                }
            }
        }
    
    }
  }





  
/* MOBILE */


  @media (max-width: 600px) {
    .toursContainer {

        width: 100%;
        text-align: center;
    
        .toursGrid {
            grid-template-columns: repeat(1, 1fr);
            padding: 0% 5%;
    
            .tours {
                width: 100%;
                margin: 0 auto;
                box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                padding: 2%;
    
                h2 {
                    padding: 3% 0%;
                }
    
                .icons {
                    margin: 2% 0%;
                }
    
                .tourDate {
                    padding-bottom: 3%;
                }
    
                .tourTeaserText {
                    padding-top: 3%;
                }
    
            }
    
            img {
                width: 100%;
                border-radius: 5px;
            }
    
            button {
                padding: 2% 4%;
                margin: 5% 0%;
                background-color: red;
                color: #fff;
                border-radius: 5px;
                border: none;
    
                &:hover {
                    cursor: pointer;
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                }
    
                &:focus {
                    border: none;
                }
            }
        }
    
    }
  }