// HELPERS
@import "../helpers/colors.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    padding: 0% 10%;
    background-color: $darkBlue;
    color: #fff;

    .active {
        background-color: rgba(148, 148, 148, 0.3);
        border-top: 4px solid $lightBlue;
    }

    // BURGER-TOGGLE-BUTTON

    .toggleButton {
        display: none; // Vises med flex i media!!!
        position: absolute;
        top: 1rem;
        right: 1rem;
        flex-direction: column;
        justify-content: space-between;
        width: 32px;
        height: 26px;
        cursor: pointer;

        .bar {
            height: 4px;
            width: 100%;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            transform-origin: left;

            transition: all 1s ease;

            // Lax x ved klik
        }

        &.changeAnimation .bar1 {
            transform: rotate(45deg);
        }

        &.changeAnimation .bar2 {
            opacity: 0;
        }

        &.changeAnimation .bar3 {
            transform: rotate(-45deg);
        }

    }

    // MENUEN

    .navbarLinks {

        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                list-style-type: none;
                transition: padding 1s ease;
            }

            a {
                display: block;
                text-decoration: none;
                color: #fff;
                padding: 1.2rem;
            }
        }

    }

    .iconContainer {
        display: flex;
        gap: 20px;
        font-size: 1.5rem;
    }

}


// BURGERMENU - RESPONSIVE TABLET

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2% 0%;
        background-color: #fff;
        color: #000;

        .active {
            background-color: transparent;
            border-top: none;
            text-decoration: underline;
            text-underline-offset: 5px;
        }

        // vis bugermenu
        .toggleButton {
            display: flex;
            align-items: flex-start;

            right: 10px;
            bottom: 0;

            .bar {
                background-color: #000;
            }
        }

        // menuen (div rund om ul)
        .navbarLinks {
            height: 0;
            width: 100%;
            overflow: hidden;
            transition: height 0.8s ease-out;
            flex-direction: column;

            &.active {
                height: 390px;
            }

            ul {
                width: 100%;
                flex-direction: column;
                margin-top: 2%;

                li {
                    text-align: center;

                    &:hover {
                        padding-left: 1.3rem;
                    }


                    a {
                        padding: 0.5rem 1rem;
                        color: #000;
                    }
                }
            }


            .iconContainer {
                position: relative;
            }

        }
    }
}