// HELPERS
@import "../helpers/colors.scss";


.toursContainer {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .tourBannerImg {
        grid-column: 1/-1;
        grid-row: 1/-1;
        max-width: 100%;

        img {
            width: 100%;
            height: 42vh;
            object-fit: cover;
        }
    }

    h2 {
        font-size: 3rem;
        grid-column: 1/-1;
        grid-row: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .ToursCardsContainer {
        margin: 4% 0%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        padding: 0% 10%;

        .toursCards {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            gap: 60px;
            border: 1px solid rgba(0, 0, 0, 0.1);

            figure {
                width: 50%;
                height: 100%;

                img {
                width: 100%;
                height: 100%;

                }
            }

            .cardContent {

                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                h4 {
                    font-size: 1.5rem;
                    font-weight: lighter;
                    margin-bottom: 10px;
                }

                    .cardText {

                        p {
                            color: rgb(175, 175, 175);
                            width: 70%;
                            line-height: 30px;

                            /* Her tager de 2 sidste <p/> tags og giver dem display none. Den tager det bagfra, da det er last-child vi tager fra dens parent*/
                            &:nth-last-child(1), &:nth-last-child(2){
                                display: none;
                            } 
                        }
                    }

                    button {
                        padding: 2% 8%;
                        background-color: transparent;
                        font-size: 1rem;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                

            }

            .cardPrice{
                /* Display flex for at centrer teksten inde i pristagget */
                display: flex;
                align-items: center;
                justify-content: center;
                width: 8%;
                background: linear-gradient(45deg, transparent 15px, $lightBlue 0px);
                height: 70px;
                color: #fff;
                font-size: 1.3rem;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

}

// RESPONSIVE - MOBIL
@media (max-width: 800px) {

   
    
    .toursContainer {
        padding: 0%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    
        .tourBannerImg {
            grid-column: 1/-1;
            grid-row: 1/-1;
            max-width: 100%;
    
            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
            }
        }
    
        h2 {
            font-size: 2.5rem;
            grid-column: 1/-1;
            grid-row: 1/-1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
    
        .ToursCardsContainer {
            margin: 10% 0%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100%;
            padding: 0% 3%;
    
            .toursCards {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                border: 0px solid rgba(0, 0, 0, 0.1);
                flex-direction: column;
                margin: 5% 0%;     
                position: relative;
    
                figure {
                    width: 100%;
                    height: 100%;
                    
                    img {
                        width: 100%;
                        height: 100%;
    
                    }
                }
    
                .cardContent {
    
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
    
                    h4 {
                        font-size: 1.5rem;
                        font-weight: lighter;
                        margin-bottom: 10px;
                    }
    
                        .cardText {
    
                            p {
                                color: rgb(175, 175, 175);
                                width: 70%;
                                line-height: 30px;
    
                                /* Her tager de 2 sidste <p/> tags og giver dem display none. Den tager det bagfra, da det er last-child vi tager fra dens parent*/
                                &:nth-last-child(1), &:nth-last-child(2){
                                    display: none;
                                } 
                            }
                        }
    
                        button {
                            padding: 2% 8%;
                            background-color: transparent;
                            font-size: 1rem;
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    
    
                }
    
                .cardPrice {
                    /* Display flex for at centrer teksten inde i pristagget */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20%;
                    background: linear-gradient(45deg, transparent 15px, $lightBlue 0px);
                    height: 40px;
                    color: #fff;
                    font-size: 1.3rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    
    }
        

}